<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
  <test thread-count="5" name="TestOne">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="org.practice.cloudtest.TestCaseA"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="TestTwo">
	  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="org.practice.cloudtest.TestCaseA"/>
    </classes>
  </test>
  <test thread-count="5" name="TestThree">
	  <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="org.practice.cloudtest.TestCaseA"/>
    </classes>
  </test>
  <test thread-count="5" name="TestOne1">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="org.practice.cloudtest.TestCaseA"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="TestTwo2">
	  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="org.practice.cloudtest.TestCaseA"/>
    </classes>
  </test>
  <test thread-count="5" name="TestThree3">
	  <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="org.practice.cloudtest.TestCaseA"/>
    </classes>
  </test>
</suite> <!-- Suite -->
